.listWrapper {
  // width: 100%;
  width: 1200px;

  display: flex;
  flex-direction: column;

  & > div {
    width: 100%;
  }

  .listWrapperTitles {
    padding-left: 15px;
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.29;
      color: #0b0b0b;
    }
  }

  .listWrapperContents {

  }

  .listWrapperContentRow {
    padding-left: 15px;
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    * {
      text-decoration: none;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 14px;
      font-weight: normal;
      color: #75777b;

      display: flex;
      align-items: center;
    }

    a {
      color: #2f599f;
    }
  }
}
