$navBar_height: 85px;

.tokenInfo {
  max-width: 1100px;
  width: 100%;
  height: 280px;
  margin: 0 auto 60px auto;
  overflow: hidden;
  -ms-overflow: hidden;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  .bg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 366px;

    background-size: cover;
    background-image: linear-gradient(107deg, #5151e0, #4f8df3);
  }

  & > img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 366px;
  }

  .verticalLine {
    margin-bottom: 60px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.tokenInfo.mobile {
  margin: auto auto auto -10px;
  width: calc(100% + 20px);
  height: 200px;
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
  position: relative;

  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(118deg, rgba(81, 81, 224, 0.8), rgba(11, 122, 255, 0.9));
  }

  .verticalLine {
    margin: auto;
    width: 90%;
    height: 0;
    border: 0.5px solid #f4f4f44c;
  }
}
