.modal {

}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  display: flex;
  justify-content: center;
  align-items: center;

  //transition: all 500ms ease-in-out;
  opacity: 0;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}
