@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
}

body {
  position: relative;
  -ms-overflow-style: none;
}

.root {
  overflow-x: hidden;
  position: relative;
}
* {
  box-sizing: border-box;
  /*-ms-flex: 0 0 auto;*/
}

button {
  background: none;
}
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

