$desktop-width: 1200px;
$tablet-width: 800px;
$navBar-height: 85px;
$navBar-side-width: 400px;
$navBar-border-bottom: 1px;

.navBar {
  width: 100%;
  height: $navBar-height;
  border-bottom: $navBar-border-bottom solid rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  .navBarContainer {
    max-width: $desktop-width;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .navNavigator {
      flex: 1;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      div {
        margin-left: 5%;
        margin-right: 5%;
      }
    }

    .searchBarOpen {
      display: flex;
    }

    .searchBarClose {
      display: none;
    }

    .navBarOpener {
      border: none;
    }

    .navBarSide {
      display: none;
    }

    .navBarOpen {
      position: absolute;
      z-index: 999;
      background-color: #ffffff;
      top: $navBar-height + $navBar-border-bottom;
      right: $navBar-side-width;
      max-width: $navBar-side-width;
      width: calc(100% - 60px);
      height: 100%;
      padding: 30px;

      transform: translate($navBar-side-width, 0px);
      transition-duration: 1s;

      display: flex;
      flex-direction: column;

      .searchBar {
        max-width: $navBar-side-width;
      }

      .navBarSideMenu {
        margin-top: 20px;
        height: 70px;
        border-top: 1px solid rgba(0, 0, 0, 0.8);
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 18px;
        line-height: 2.22;
        color: #0b0b0b;

        display: flex;
        align-items: center;

        & > img {
          margin-right: 12px;
        }
      }

      .navBarSideNavList {
        padding-left: 10px;

        & > div {
          margin-top: 20px;
        }

        .languageBox {
          border: none;

          button {
            font-size: 16px;
            padding-left: 0px;
            margin-bottom: 5px;
            border: none;

            &:hover {
              background: none;
              color: #397ff4;
            }
          }
        }
      }
    }
  }
}

// @media (max-width: $tablet-width) {
//   .navBar {
//     flex-direction: column;
//   }
// }



.navBarLogo {
  // margin-right: 112px;

  display: flex;
  align-items: center;
}


.fullWidth {
  width: 100%;
  max-width: 400px;
}
