$tablet-width: 720px;

.navBar {
  border: 1px solid black;

  display: flex;
  flex-wrap: wrap;
}

@media (max-width: $tablet-width) {
  .navBar {
    flex-direction: column;
  }
}

.navNavigator {
  flex: 1;

  display: flex;
  justify-content: flex-end;

  div {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.fullWidth {
  width: 100%;
}
