$mobile_width: 800px;
$navBar_height: 85px;
$footer_height: 100px;
$footer-margin-height: 50px;

.layout {
  width: 100%;
  min-height: calc(100vh - 235px);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;

  .layoutInner {
    box-sizing: border-box;
    max-width: 1260px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: $mobile-width) {
  .homeLive {
    display: flex;
    flex-direction: column;

    .verticalLine {
      display: none;
    }
  }
}

// home
.homeContentWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;

  .homeTokenInfo {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    -ms-overflow: hidden;

    display: flex;
    justify-content: space-around;

    .bg {
      position: absolute;
      z-index: -2;
      top: $navBar_height;
      left: 0;
      right: 0;
      bottom: 0;
      height: 250px;

      background-image: url("https://i.imgur.com/P1k5vK1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .verticalLine {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .homeSearchBar {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;

    display: flex;
    justify-content: center;

    .blur {
      top: 20px;
      left: -50vw;
      position: absolute;
      z-index: -1;
      height: 500px;
      width: 200vw;
      background: white;
    }

    .searchBarSearch input::placeholder {
      color: #ffffff;
    }

    & > hr {
      position: absolute;
      z-index: -1;
      bottom: 20px;
      left: -50%;
      height: 1px;
      width: 200%;
      border: 0;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .homeLive {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    & > div {

    }

    .verticalLine {
      margin: 40px 40px 0px 40px;
      height: 500px;
    }
  }
}

// blocks
.blocksContents {
  width: 100%;
  margin-bottom: 30px;
}


.block {
  margin: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .blockNavigation {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

// accounts
.accountsContents {
  width: 100%;
}
.accountsNavigation {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


.verticalLine {
  border: 1px solid #f4f4f4;
  height: 100px;
}

// account
.account {
  width: 100%;
}

// transactions
.txs {
  width: 100%;
}

// transaction
.tx {
  width: 100%;
}

// bps
.bpsContents {
  width: 100%;
  margin-bottom: 30px;
}

// txs
.txsContents {
  width: 100%;
  margin-bottom: 30px;
}

// navigation
.contentNavigation {
  width: 100%;
  margin-top: 30px;

  display: flex;
  justify-content: center;
}
