$mobile_width: 800px;

.contentWrapperLinker {
  //height: 100px;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;


  &.special {
    .contentWrapperIcon {
      img {
        display: block;
      }
      img:first-child {
        display: none;
      }
    }

    .contentWrapperInfoContent {
      span:first-child {
        font-weight: bold;
        color: #ff9f00;
      }
    }
  }
}

.contentWrapper {
  //height: 100px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ed6664;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    padding-left: 14px;

    @media (max-width: $mobile_width) {
      padding-left: 9px;
    }

    .contentWrapperIcon {
      span {
        color: #f16c65;
      }

      img {
        display: block;
      }

      img:first-child {
        display: none;
      }
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contentWrapperIcon {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    @media (max-width: $mobile_width) {
      padding: 0 4px;
    }

    img {
      display: none;
      margin: auto auto 5px;
      width: 36px;
      height: 40px;
    }

    span {
      color: #000000;
    }

    img:first-child {
      display: block;
    }
  }

  .contentWrapperInfoTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #0b0b0b;
    margin-right: 20px;

    @media (max-width: $mobile_width) {
      margin-right: 4px;
      //max-width: 80px;
    }

    span {
      white-space: nowrap;
    }
  }

  .contentWrapperInfoContent {
    font-size: 12px;
    line-height: 1.67;
    color: #75777b;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media (max-width: $mobile_width) {
      margin-right: 0px;
    }

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .special {
      color: #0b0b0b;
    }
  }
}

.contentWrapperLinker.mobile {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  .contentWrapper {
    padding-left: 0;

    &:hover {
      border: none;
    }
  }
}
