{
  "extends": ["airbnb"],
  "env": {
    "mocha": true
  },
  "rules": {
    // It is okay to import devDependencies in tests.
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}

