$footer-height: 100px;
$footer-margin-height: 50px;

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: $footer-height;
  margin-top: $footer-margin-height;

  display: flex;
  justify-content: center;
  align-items: center;

  .footerContent {
    max-width: 1200px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;

    & > div {
      display: flex;
      align-items: center;
    }

    .footerLogo {
      // margin-right: 40px;
    }

    .footerRights {
      margin-left: 40px;
      font-size: 14px;
      font-weight: 300;
      color: #3c3e41;
    }

    .footerSNS {
      flex: 1 1 auto;
      justify-content: flex-end;

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-left: 10px;
        cursor: pointer;
      }

      @media (max-width: 400px) {
        a:nth-child(4) {
          display: none;
        }
        a:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

.footer.mobile {
  height: 63px;

  .footerContent {
    .footerSNS {
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}
