$mobile-width: 800px;

.layout {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .layoutInner {
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: $mobile-width) {
  .homeLive {
    display: flex;
    flex-direction: column;

    .verticalLine {
      display: none;
    }
  }
}

// home
.homeContentWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;

  .homeTokenInfo {
    max-width: 1100px;
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: center;

    .verticalLine {
      margin: auto;
    }
  }

  .homeSearchBar {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;

    display: flex;
    justify-content: center;

    .searchBarSearch input::placeholder {
      color: #ffffff;
    }

    & > hr {
      position: absolute;
      z-index: -1;
      bottom: 20px;
      height: 1px;
      width: 200%;
      border: 0;
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .homeLive {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      margin: 20px
    }

    .verticalLine {
      height: 500px;
    }
  }
}

// blocks
.blocksContents {
  width: 100%;
}


.block {
  margin: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .blockNavigation {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

// accounts
.accountsContents {
  width: 100%;
}
.accountsNavigation {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


.verticalLine {
  border: 1px solid #f4f4f4;
  height: 100px;
}
