.searchBar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;

  &.searchBarHide {
    display: none;
  }

  &.tablet input {
    width: 100%;
  }

  .searchBarSearch {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid 1px #c0c0c0;
    padding-left: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      border: none;
      // width: 100%;
      flex: 1;
      //font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      background: none;
    }

    input:focus {
      outline: none;
    }

    input::-webkit-input-placeholder {
      width: 226px;
      height: 20px;
      // font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #a6a6a6;
    }

    .searchBarIcon {
      display: flex;
      align-items: center;
      padding: 10px;
    }
  }
}


#main {
  justify-content: center;
  max-width: 560px;
  margin-left: 0;
  margin-right: 0;

  .searchBarSearch {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    background-color: #397ff4;
  }

  input {
    background: none;
    color: #ffffff;
  }
}

#mobile {
  .searchBarSearch {
    border: none;
    background-color: #ffffff;
  }

  input {
    background: none;
    color: #000000;
  }
}
