.contentWrapperLinker {
  height: 100px;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.contentWrapper {
  height: 100px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ed6664;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);

    .contentWrapperIcon {
      span {
        color: #f16c65;
      }

      img {
        display: block;
      }

      img:first-child {
        display: none;
      }
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contentWrapperIcon {
    display: flex;
    justify-content: center;
    width: 110px;
    text-align: center;

    img {
      display: none;
      margin-bottom: 5px;
    }

    span {
      color: #000000;
    }

    img:first-child {
      display: block;
    }
  }

  .contentWrapperInfoTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #0b0b0b;
    margin-right: 30px;

    span {
      white-space: nowrap;
    }
  }

  .contentWrapperInfoContent {
    font-size: 12px;
    line-height: 1.67;
    color: #75777b;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .special {
      color: #0b0b0b;
    }
  }
}
