.contentWrapper {
  height: 100px;
  padding-right: 48px;

  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    border: 2px solid #ed6664;

    .contentWrapperIcon {
      span {
        color: #f16c65;
      }

      img {
        display: block;
      }

      img:first-child {
        display: none;
      }
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
  }

  .contentWrapperIcon {
    display: flex;
    justify-content: center;
    width: 110px;
    text-align: center;

    img {
      display: none;
    }

    img:first-child {
      display: block;
    }
  }

  .contentWrapperInfoTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #0b0b0b;
    margin-right: 30px;
  }

  .contentWrapperInfoContent {
    max-width: 290px;
    font-size: 12px;
    line-height: 1.67;
    color: #75777b;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .special {
      color: #0b0b0b;
    }
  }
}
