$tablet-width: 800px;

.liveInfoWrapper {
  flex: 1 1 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  & > div {
    margin-top: 10px;
  }

  .liveInfoWrapperInfo {
    width: 100%;

    display: flex;
    justify-content: space-between;

    & > span {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -1;
      color: #0b0b0b;
    }

    & a {
      text-decoration: none;

      display: flex;
      align-items: flex-end;
    }

    & button {
      border: none;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.25;
      color: #0b0b0b;

      &:hover {
        cursor: pointer;
        color: #397ff4;
      }
    }
  }

  .liveInfoWrapperContentBox {
    width: 100%;
    height: 500px;
    opacity: 0.7;
    background-color: #f4f4f4;
    overflow-y: hidden;
  }
}

@media (min-width: $tablet-width) {
  .liveInfoWrapper {
    width: 0;
  }
}
