.pageInfo {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 500;
  color: #0b0b0b;
  letter-spacing: -1px;
  margin-top: 50px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 32px;
    margin-right: 20px;
  }
}

.pageInfo.mobile {
  font-size: 18px;
  margin-bottom: 10px;

  img {
    width: 20px;
    height: 21px;
    margin-right: 10px;
  }
}
