$desktop-width: 1000px;
$tablet-width: 600px;

.liveTickerWrapperGuide {
  flex: 1;

  display: flex;

  &.left {
    justify-content: flex-end;
    margin-right: 40px;
  }

  &.right {
    margin-left: 40px;
    justify-content: flex-start;
  }

  .liveTickerWrapper {
    margin-top: 30px;
    margin-bottom: 60px;
    max-width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .liveTickerWrapperTitle {
      font-size: 18px;
      letter-spacing: -0.5px;
      color: #ffffff;
    }

    .liveTickerWrapperContent {
      font-size: 50px;

      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-around;

      div {
        color: #ffffff;
      }

      div + div {
        margin-left: 10px;
      }

      .liveTickerWrapperContentSuffix {
        font-size: 30px;
        font-weight: 100;
        padding-bottom: 5px;
      }
    }

    @media (max-width: $tablet-width) {
      .liveTickerWrapperTitle {
        align-self: center;
      }
      .liveTickerWrapperContent {
        padding: 5px;
        font-size: 26px;

        .liveTickerWrapperContentSuffix {
          font-size: 24px;
          padding-bottom: 0px;
        }
      }
    }
  }
}

.liveTickerWrapperGuide.mobile {
  margin: 0;

  & * {
    color: #ffffff !important;
  }

  .liveTickerWrapper {
    margin-top: auto;
    margin-bottom: auto;

    max-width: 100%;

    .liveTickerWrapperTitle {
      margin: auto;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: -0.4px;
    }

    .liveTickerWrapperContent {
      width: 100%;
      font-size: 30px;

      .liveTickerWrapperContentSuffix {
        font-size: 26px;
        padding-bottom: 0px;
      }
    }
  }
}
