$desktop-width: 1200px;
$navBar-height: 85px;
$navBar-side-width: 400px;
$navBar-border-bottom: 1px;
$mobile-navbar-height: 55px;
$tablet_width: 1200px;

@media (max-width: $tablet-width) {
  .navBar {
    .navBarContainer {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.navBar {
  width: 100%;
  height: $navBar-height;
  border-bottom: $navBar-border-bottom solid rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  .navBarContainer {
    max-width: $desktop-width;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .navNavigator {
      flex: 1 1 auto;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      div {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    .dimmer {
      position: absolute;
      z-index: 999;
      top: $navBar-height;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    .searchBarOpen {
      display: flex;
    }

    .searchBarClose {
      display: none;
    }

    .navBarOpener {
      border: none;
      background: none;
      min-width: 44px;
    }

    .navBarOpen {
      transform: translateX(0);
      visibility: visible;
    }

    .navBarClose {
      transform: translateX(-$navBar-side-width);
      visibility: hidden;
    }

    .navBarSide {
      position: absolute;
      z-index: 999;
      background-color: #ffffff;
      top: $navBar-height + $navBar-border-bottom;
      left: 0;
      //right: 0;
      max-width: $navBar-side-width;
      width: calc(100% - 60px);
      height: calc(100% - 85px);
      padding: 30px;

      transition: transform 0.5s ease-in-out;

      display: flex;
      flex-direction: column;

      .searchBar {
        max-width: $navBar-side-width;
        margin: 0;
      }

      .navBarSideMenu {
        margin-top: 20px;
        height: 70px;
        border-top: 1px solid rgba(0, 0, 0, 0.8);
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 18px;
        line-height: 2.22;
        color: #0b0b0b;

        display: flex;
        align-items: center;

        & > img {
          margin-right: 12px;
        }
      }

      .navBarSideNavList {
        padding-left: 10px;

        & > div {
          margin-top: 20px;

          a {
            display: inline-block;
            width: 100%;
          }
        }

        .languageBox {
          border: none;

          button {
            font-size: 16px;
            padding-left: 0px;
            margin-bottom: 5px;
            border: none;

            &:hover {
              background: none;
              color: #397ff4;
            }
          }
        }
      }
    }
  }
}

.navBarLogo {
  display: flex;
  align-items: center;
}


.fullWidth {
  width: 100%;
  max-width: 400px;
}

.navBar.tablet {
  .navBarContainer {
    padding: 0 20px;
    justify-content: space-between;

    .navNavigator {
      display: none;
    }

    .searchBtn {
      padding-right: 0;
      border: none;
    }
  }
}

.navBar.mobile {
  height: $mobile-navbar-height;

  .navBarContainer {
    .navBarOpener {
      padding-left: 0;
      min-width: 20px;
      width: 20px;

      img {
        width: 20px;
      }
    }

    .navBarLogo {
      img {
        width: 140px;
      }
    }

    .dimmer {
      top: $mobile-navbar-height;
    }

    .navBarSide {
      top: $mobile-navbar-height;
    }
  }
}
